
html::before,html::after{
    content: "";
    position: fixed;
    z-index: -3;
    border-radius: 50%;
}
html::before{
    height: 100px;
    width: 100px;
    top: 20%;
    left: calc(50% - 650px);
    background-image: linear-gradient(to right bottom, var(--decoration-bg-color-1), var(--WHITE) ) ;
}
html::after{
    height: 150px;
    width: 150px;
    bottom: 20%;
    right: calc(50% - 675px);
    background-image: linear-gradient(to left bottom, var(--decoration-bg-color-2), var(--WHITE) ) ;
}
body{
    --white: hsla(0, 0%, 100%, 0.25);
    --border-color-2: hsla( 0, 0%, 100%,0.40);
    --border-color-1: hsla( 0, 0%, 0%, 0.1);
    --shadow: none;
    background-image: linear-gradient(to right  , var(--body-gradient-bg-color-1),var(--body-gradient-bg-color-2));
    background-attachment:fixed ;  
    padding: 40px 0; 
    --backdrop-filter-blur: blur(5px) ; 
}
body::before{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--WHITE);
    z-index: -4;
    opacity: 0.3;
}
.main-wrapper{
    max-width: 1200px;
    background-color: var(--white);
    margin: auto;
    border: 1px solid var(--border-color-2);
    border-radius: 20px;
    position: relative;
}
.main-wrapper::before{
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-backdrop-filter: var(--backdrop-filter-blur);
    backdrop-filter: var(--backdrop-filter-blur);
    z-index: -1;
    border-radius: 20px;
}
.header .sup-menu,
.box{
    border: 1px solid var(--border-color-2);
}
.header .sup-menu,
.box,
.style-switcher{
    -webkit-backdrop-filter: var(--backdrop-filter-blur);
    backdrop-filter: var(--backdrop-filter-blur);
}
/* glass dark */
body.dark{
    --border-color-1: hsla(0, 0%, 100%,0.15);
    --border-color-2: hsla(0, 0%, 100%,0.07);
    --white: hsla(0 ,0%,100%,0.05);
    --shadow:none;
}
body.dark::before{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: 0.2;
    z-index: -1;
}


@media (max-width:1199px){
    body{
        padding: 40px 30px;
    }
    html::before{
        top: 10%;
        left: -15px;
    }
    html::after{
        right: -45px;
        bottom: 10%;
    }
}